@model WebApplication4.Models.UserProfileDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" type="text/css" href="~/Content/user-profile-details.css">
<meta name="id" content="@Model.Profile.Id">
<div>
    <form action="~/api/upload-avatar/" method="post" id="upload-avatar-form" enctype="multipart/form-data" onsubmit="setTimeout(function() { window.location.reload(); }, 10)">
        @Html.AntiForgeryToken()

        <label>
            <div class="avatar-div @if (Model.Profile.User.UserName == HttpContext.Current.User.Identity.Name)
                                   {
                                       <text>hover-action</text>} ">
                <img class="avatar-image" src=@if (Model.Profile.AvatarUrl != null)
                                              {
                                                  @Model.Profile.AvatarUrl
                                              }
                                              else
                                              {
                                                  @("../../Content/images/default-avatar.jpg");
                                              } alt="Unable to load default avatar"/>
                @if (Model.Profile.User.UserName == HttpContext.Current.User.Identity.Name)
                {
                    <span class="tip">Click to change avatar</span>
                }
            </div>
            <div class="profile-name">@Model.Profile.Name</div>

            @if (Model.Profile.User.UserName == HttpContext.Current.User.Identity.Name)
            {
                <input type="file" name="avatar" style="display: none" form="upload-avatar-form" class="file-input">
            }
        </label>
        <br>
    </form>
    @if (Model.Profile.User.UserName != HttpContext.Current.User.Identity.Name)
    {
        <div class="friends-button @if (Model.ActiveFriendRequest != null && Model.Profile.Id == Model.ActiveFriendRequest.InitiatorUserProfileId)
                                   {<text>avoid-clicks</text>}">
            @if (Model.FriendsCollection.Friend_UserProfile.FirstOrDefault(x => x.User.UserName == HttpContext.Current.User.Identity.Name) != null)
            {
                <text>Friend</text>
            }
            else if (Model.ActiveFriendRequest != null)
            {
                if (Model.Profile.Id == Model.ActiveFriendRequest.InitiatorUserProfileId)
                {
                    <text>@Model.Profile.Name wants to be friends</text>
                }
                else if (Model.Profile.Id == Model.ActiveFriendRequest.TargetUserProfileId)
                {
                    <text>Friend request sent</text>
                }
            }
            else
            {
                <text>
                    Add friend
                </text>
            }
        </div>
        <div class="friend-request-dialog"
             @if (Model.ActiveFriendRequest != null && Model.Profile.Id != Model.ActiveFriendRequest.InitiatorUserProfileId)
             {<text>style="display: none"</text>}>
            <span>Accept friend request ?</span>
            <span class="accept-friend-request">Yes</span> | <span class="deny-friend-request">No</span>
        </div>
    }

    @if (Model.FriendsCollection != null)
    {
    <div class="friends-list-container">
        <div class="friends-list-header">Friends</div>
        @foreach (var friend in Model.FriendsCollection.Friend_UserProfile)
        {
            <div class="friend-item">
                <a href="/users/@friend.UserAddress">
                    <img class="avatar-thumbnail" src=@if (friend.AvatarUrl != null)
                                                      {
                                                          @(friend.AvatarUrl)}
                                                      else
                                                      {
                                                          @("../../Content/images/default-avatar.jpg");
                                                      } alt="Unable to load default avatar"/>

                                                          <div>@friend.Name</div>
                                                          </a>

                                                          </div>
        }
                                                          </div>
    }
                                                          @Html.ActionLink("Gallery", "Gallery")
                                                          <div class="profile-info">
                                                              <div>
                                                                  <label>Join date:</label> <span>@Model.Profile.JoinDate.Date</span>
                                                              </div>
                                                              <div>
                                                                  <label>Location:</label> <span>@Model.Profile.Location</span>
                                                              </div>
                                                              <div>
                                                                  <label>About:</label> <span>@Model.Profile.About</span>
                                                              </div>
                                                              <div>
                                                                  <label>Birth Date:</label> <span>@Model.Profile.BirthDate</span>
                                                              </div>

                                                          </div>
                                                          </div>
                                                          <p>
                                                              @if (Model.Profile.User.UserName == HttpContext.Current.User.Identity.Name)
                                                              {
                                                                  @Html.ActionLink("Edit", "Edit", new {id = Model.Profile.Id})
                                                                  <text> |</text>
                                                              }
                                                              |
                                                              @Html.ActionLink("See Users List", "Index")
                                                          </p>
                                                          <script type="text/javascript" src="../../Content/js/UserProfile-Details.js"></script>
