@model  WebApplication4.ViewModels.HomeIndexViewModel
<link rel="stylesheet" href="/Content/index.css" type="text/css" />@{
    ViewBag.Title = "Home Page";
}


@foreach (var post in Model.Posts)
{
    <div class="post">
        <p>
            Posted by <b>@post.User.UserName </b> - <b>
                @if (@post.PostDateTime.ToShortDateString() == DateTime.Today.ToShortDateString())
                {@post.PostDateTime.ToShortTimeString()}
                else
                {
                    @post.PostDateTime.ToShortDateString()
                }
            </b>
        </p>
        <p>@post.Content</p>
        <p style="text-align:right">Votes : @post.Likes.Sum(vote =>vote.Value)</p>
    </div>
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Create", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.postModel.Content, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.postModel.Content, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Create a post !" />
            </div>
        </div>
    }
}