@model  WebApplication4.ViewModels.HomeIndexViewModel
<link rel="stylesheet" href="/Content/index.css" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}
<div class="feed-container">
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Create", "Post", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="create-post-form">
                @Html.TextAreaFor(x => x.postModel.Content, new { @class = "post-content", required = "", @placeholder = "Write something here.", @rows = 2 })
                <div class="post-additional-options">
                    <div class="post-video">Post video</div>
                    <div class="post-image">Post image</div>
                    <div class="post-link">Post link</div>
                </div>
                <input type="submit" class="btn btn-default submit-post" value="Post" />
            </div>
        }
    }
    @Html.AntiForgeryToken()
    <div class="posts-container">
        @foreach (var post in Model.Posts)
        {
            if (post.ParentPost == null)
            {
                <div class="post message-div" id="@post.Id">
                    <span class="post-info">
                        Posted by <a href="/user/@post.UserAddress">
                            <b>@post.UserName</b>
                        </a> -
                        @if (@post.PostDateTime.ToShortDateString() == DateTime.Today.ToShortDateString())
                        {@post.PostDateTime.ToShortTimeString()
                    }
                    else
                    {
                        @post.PostDateTime.ToShortDateString()
                    }
                    </span>

                    <div class="vote-div">
                        <div class="votes-action downvote @if (post.CurrentUserVote < 0)
                                                          {<text>voted</text>
                                                          }">
                            <img src="~/Content/images/down-arrow.svg" />
                        </div>
                        <div class="votes">@post.Likes</div>
                        <div class="votes-action upvote @if (post.CurrentUserVote > 0)
                                                        {<text>voted</text>
                                                        }">
                            <img src="~/Content/images/up-arrow.svg" />
                        </div>
                    </div>
                    @if (post.PhotoLink != null)
                    {
                        <div class="post-media">
                            <img src="@post.PhotoLink" alt="post image" />
                        </div>
                    }
                    else if (post.VideoLink != null)
                    {
                        <video width="400" height="400" controls>
                            <source src="@post.VideoLink" type="video/mp4">
                            Your browser does not support th e video tag.
                        </video>
                    }

                    @if (post.ShareLink != null)
                    {
                        <p><a href="@post.Content">@post.Content</a></p>
                        <a href="@post.LinkPreview.Url"><img src="@post.LinkPreview.Image" /></a>
                        <p class="source"></p>

                        <p class="title">@post.LinkPreview.Title</p>
                    }
                    else
                    {
                        <p>@post.Content</p>
                    }
                    <div class="post-comments">
                        @foreach (var comment in Model.Posts)
                        {
                            if (comment.ParentPost != null && comment.ParentPost.Id == post.Id)
                            {
                                <div class="comment message-div" id="@comment.Id">
                                    <span class="post-info">
                                        Posted by <a href="/user/@comment.UserAddress">
                                            <b>@comment.UserName</b>
                                        </a> -
                                        @if (@comment.PostDateTime.ToShortDateString() == DateTime.Today.ToShortDateString())
                                        {@comment.PostDateTime.ToShortTimeString()
                                    }
                                    else
                                    {
                                        @comment.PostDateTime.ToShortDateString()
                                    }
                                    </span>
                                    <div class="vote-div">

                                        <div class="votes-action downvote @if (comment.CurrentUserVote < 0)
                                                                          {<text>voted</text>
                                            }">
                                            <img src="~/Content/images/down-arrow.svg" />
                                        </div>
                                        <div class="votes">@comment.Likes</div>
                                        <div class="votes-action upvote @if (comment.CurrentUserVote > 0)
                                                                        {<text>voted</text>
                                                                        }">
                                            <img src="~/Content/images/up-arrow.svg" />
                                        </div>
                                    </div>
                                    <div class="comment-content">@comment.Content</div>
                                </div>
                            }
                        }
                        @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.TextAreaFor(x => x.postModel.Content, new { @class = "comment-box", placeholder = "Leave a comment....", required = "" })
                            @Html.TextBoxFor(x => x.postModel.ParentPost, new { style = "display: none;", @Value = post.Id })

                            <input type="submit" class="btn btn-info post-comment" value="Post comment" />
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
<input type="file" />
<script type="text/javascript" src="../../Content/js/posts-index-page.js"></script>
<div class="popup-overlayer"></div>
<div class="popup">
    <div class="link-upload-panel panel">
        <textarea class="link-input" placeholder="Place link here."></textarea>
        <div class="preview">
            <img src="" />
            <p class="source"></p>

            <p class="title"></p>
        </div>
        <div class="preview-placeholder"><div class="placeholder-text"></div></div>
        <div class="popup-footer">
            <div class="submit-post btn">Post</div>
        </div>
    </div>
    <div class="video-upload-panel panel">
        <textarea class="link-input" placeholder="Write a description here."></textarea>


        <div id="dropzone">
            <form action="/Photo/Upload/here" class="dropzone" id="uploader" enctype="multipart/form-data"></form>
        </div>
        <img class="video-preview"/>
        <div class="popup-footer">
            <div class="submit-post btn">Post</div>
        </div>
    </div>
    <div class="photo-upload-panel panel">

        <div class="popup-footer">
            <div class="submit-post btn">Post</div>
        </div>
    </div>

</div>
<script src="~/Scripts/rsvp.js"></script>
<script src="~/Scripts/frame-grab.js"></script>

